html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: oldlace;
}

body {
    max-width: 100%;
    margin: 10px 200px;
    border: 5px solid black;
    padding: 10px 0;
    background-color: snow;
}

h1 {
    text-align: center;
}


fieldset {
    background-color: white;
}

img {
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}